<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
  <div class="container">

    <div class="header">
      <img src="/images/web_server.png" alt="<%= title %>" class="icon" />
      <h1>
        <%= title %>
      </h1>
      <p>Seu novo encurtador de URL</p>
    </div>

    <div class="content">
      <form method="POST" action="/new">
        <div class="mb-3 input-group">
          <input placeholder="digite a url a ser encurtada" name="url" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Encurtar</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
</body>

</html>